/* MAIN CSS */
body {
    overflow: hidden;
    background-color: #000000;
}
.section-border-up {
    width: 100%; 
    height: 25%;
}
.section-main {
    width: 100%; 
    height: 40%;
} 
.section-btn {
    width: 100%; 
    height: 20%;
} 
.section-border-down {
    width: 100%; 
    height: 15%;
}
.full-image {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}